@import 'base-variables';

:host {
  display: block;
  height: 100%;

  .radar-map {
    display: flex;
    height: calc(100% - (2 * $padding-large));
    justify-content: center;
    padding: $padding-large;

    &__background {
      fill: $grey-dark;
    }

    &__blip {
      cursor: pointer;
      fill: $yellow;
      stroke: none;

      &.uncategorized {
        fill: $grey;
      }
    }

    &__blips {
      animation: appear 0.6s linear;
    }

    &__highlight {
      fill: none;
      stroke: none;

      &.highlighted {
        stroke: $yellow;
        animation: appear 0.2s linear;

        &.uncategorized {
          stroke: $grey;
        }
      }
    }

    &__line {
      stroke: #4c4e50;
      stroke-width: 0.5px;
    }
  }

  text {
    display: none;
    fill: $white-light;

    &.tooltip {
      display: block;
    }
  }

  @keyframes appear {
    0%   { clip-path:polygon(50% 50%,50% 0,50% 0,50% 0,50% 0,50% 0, 50% 0) }
    25%  { clip-path:polygon(50% 50%,50% 0,100% 0,100% 50%,100% 50%,100% 50%,100% 50%) }
    50%  { clip-path:polygon(50% 50%,50% 0,100% 0,100% 100%,50% 100%,50% 100%,50% 100%) }
    75%  { clip-path:polygon(50% 50%,50% 0,100% 0,100% 100%,0 100%,0 50%,0 50%) }
    100% { clip-path:polygon(50% 50%,50% 0,100% 0,100% 100%,0 100%,0 0,50% 0) }
  }
}
