@import 'base-variables';

:host {
  display: flex;
  height: calc(100% - (2 * $padding-large));
  justify-content: center;
  padding: $padding-large;

  text {
    display: none;

    &.tooltip {
      display: block;
    }
  }

  circle.highlight {
    fill: antiquewhite;
    stroke: burlywood;
  }
}
