<svg width="60cqmin" height="60cqmin" viewBox="-100 -100 200 200">
  <g>
    <circle r="98" cx="0" cy="0" stroke="black" fill="none"></circle>
    <circle r="75" cx="0" cy="0" stroke="black" fill="none"></circle>
    <circle r="50" cx="0" cy="0" stroke="black" fill="none"></circle>
    <circle r="25" cx="0" cy="0" stroke="black" fill="none"></circle>
    <line x1="-100" y1="0" x2="100" y2="0" stroke="black"></line>
    <line x1="0" y1="-100" x2="0" y2="100" stroke="black"></line>
    <polyline points="-100,0 100,0" fill="black"></polyline>
  </g>
  <g>
    @for (blip of radar?.blips; track $index) {
      <g [attr.transform]="getPosition(blip)">
        <circle r="3" stroke="black" fill="none"></circle>
        <text font-family="Tahoma" font-size="0.5em">{{blip.name}}</text>
      </g>
    }
  </g>
</svg>
