<h1>
  Create a new Radar
</h1>
<form [formGroup]="radarForm">
  <div>
    <label for="name">Radar Name:</label>
    <input id="name" type="text" formControlName="name">
    {{ nameControl.touched }} - {{ nameControl.invalid }}
  </div>
  @if(nameControl.touched && nameControl.invalid) {
    <span><i>This field is required</i></span>
  }
  @for(quadrant of quadrants.controls; track quadrant; let i = $index) {
    <div>
      <label for="quadrant-{{ i }}">Quadrant {{ i }}:</label>
      <input id="quadrant-{{ i }}" type="text" [formControl]="getQuadrantControl(i)">
      {{ getQuadrantControl(i).touched }} - {{ getQuadrantControl(i).invalid }}
    </div>
    @if(getQuadrantControl(i).touched && getQuadrantControl(i).invalid) {
      <span><i>This field is required</i></span>
    }
  }
</form>
@if(error) {
  <radar-notification [message]="error"/>
}
<radar-button label="Create" (click)="createRadar()"></radar-button>
