@use 'sass:color';

@import 'base-variables';

:host {
  display: inline;

  .radar-button {
    border: none;
    border-radius: $border-radius-large;
    cursor: pointer;
    font-family: $font-family-main;
    font-size: 15px;
    font-weight: 600;
    margin: $margin-small 0;
    padding: $padding-small;
    text-transform: uppercase;
    width: 160px;

    &--large {
      width: 260px;
    }

    &--primary {
      background-color: $grey-dark;
      box-shadow: $shadow-up-small;
      color: $white-light;

      &:hover {
        background-color: color.scale($grey-dark, $lightness: 3%);
        box-shadow: $shadow-up-small--light;
      }

      &:active, &.active {
        box-shadow: $shadow-down-small;
      }
    }

    &--secondary {
      background-color: $yellow;
      box-shadow: $shadow-secondary-down-medium;
      color: $grey-dark;
      position: relative;

      &:hover {
        background-color: color.scale($yellow, $lightness: 7%);
      }

      &:active {
        transform: translate(0, 2px);
        box-shadow: $shadow-secondary-down-small;
      }
    }

    &--icon {
      background-color: $grey-dark;
      box-shadow: $shadow-up-small;
      color: $white-light;
      padding: 14px 18px;
      width: 50px;

      &:hover {
        background-color: color.scale($grey-dark, $lightness: 3%);
        box-shadow: $shadow-up-small--light;
      }

      &:active {
        box-shadow: $shadow-down-small;
      }
    }

    &:focus-visible {
      outline: none;
    }
  }
}
