@use 'sass:color';

@import 'base-variables';

:host {
  display: inline;

  &.submit {
    display: flex;
    justify-content: center;
  }

  .radar-button {
    border: none;
    border-radius: $border-radius-medium;
    cursor: pointer;
    font-family: $font-family-main;
    font-size: 15px;
    font-weight: 600;
    margin: $margin-small;
    padding: $padding-small;
    text-transform: uppercase;
    width: 160px;

    &--large {
      width: 260px;
    }

    &--primary {
      background-color: $grey-dark;
      box-shadow: $shadow-up-small;
      color: $white-light;

      &:hover {
        background-color: color.scale($grey-dark, $lightness: 3%);
        box-shadow: $shadow-up-small--light;
      }

      &:active {
        box-shadow: $shadow-down-small;
      }
    }

    &--secondary {
      background-color: $yellow;
      box-shadow: $shadow-secondary-up-small;
      color: $grey-dark;

      &:hover {
        background-color: color.scale($yellow, $lightness: 7%);
      }

      &:active {
        box-shadow: $shadow-secondary-down-small;
      }
    }

    &--icon {
      background-color: $grey-dark;
      border-radius: $border-radius-small;
      box-shadow: $shadow-up-small;
      color: $white-light;
      padding: 20px 24px;
      width: 60px;

      &:hover {
        background-color: color.scale($grey-dark, $lightness: 3%);
        box-shadow: $shadow-up-small--light;
      }

      &:active {
        box-shadow: $shadow-down-small;
      }
    }
  }
}
