@import 'base-variables';

:host {
  display: block;
  height: 100%;

  .radar-blip-list {
    &__blip {
      cursor: pointer;
    }

    &__header {
      margin: $margin-small 0 0;

      &:first-child {
        margin: 0;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: calc(88% - (3 * 24px));
      padding: 32px;

      .highlighted {
        background-color: $yellow;
        color: $black;
        font-weight: bold;
        padding-left: 2px;

        &.uncategorized {
          background-color: $grey;
          color: $white-light;
        }
      }
    }

    &__title {
      align-items: center;
      display: flex;
      height: 12%;
      justify-content: space-between;
      min-height: 56px;
      padding: 24px 32px;
    }
  }
}
