<div class="radar-blip-list__title">
  <h3>{{ quadrant() }}</h3>
  <radar-button label="+" [type]="'icon'" (clicked)="onBlipAdd()"/>
</div>
<div class="radar-blip-list__list">
  @if(blipsForQuadrant().length > 0) {
    @for (blips of blipsPerRing(); track $index) {
      @if (blips.length > 0) {
        <h4 class="radar-blip-list__header">{{ rings[$index].toUpperCase() }}</h4>
        @for (blip of blips; track $index) {
          <div (mouseenter)="onBlipHover(blip.id)"
               (mouseleave)="onBlipHover(undefined)"
               (click)="onBlipClick(blip)"
               class="radar-blip-list__blip"
               [class]="blip.id === higlightedBlipId() ? 'highlighted' : ''">
            {{ blip.name }}
          </div>
        }
      }
    }
    @if (blipsWithoutRing().length > 0) {
      <h4 class="radar-blip-list__header">UNCATEGORIZED</h4>
      @for (blip of blipsWithoutRing(); track $index) {
        <div (mouseenter)="onBlipHover(blip.id)"
             (mouseleave)="onBlipHover(undefined)"
             (click)="onBlipClick(blip)"
             class="radar-blip-list__blip"
             [class]="blip.id === higlightedBlipId() ? 'highlighted uncategorized' : ''">
          {{ blip.name }}
        </div>
      }
    }
  } @else {
    <p>
      <i>No Blips were added in this Quadrant yet</i>
    </p>
  }
</div>
