:host {
  display: block;

  .blip-votes-results {
    &__score {
      display: flex;
      align-items: center;

      h3 {
        min-width: 80px;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
