<form [formGroup]="radarForm">
  <radar-input [control]="nameControl" [label]="'Radar Name'"/>
  @for (quadrant of quadrants.controls; track quadrant; let i = $index) {
    <radar-input id="quadrant-{{ i }}" [control]="getQuadrantControl(i)" [label]="'Quadrant ' + (i + 1)"/>
  }
  <radar-textarea [control]="descriptionControl" [label]="'Radar Description'"/>
</form>
@if (loading) {
  <radar-spinner type="save"/>
} @else if (error) {
  <radar-notification [message]="error"/>
}
<div class="form-footer">
  <radar-button label="Create" (clicked)="createRadar()" [type]="'secondary'" [size]="'large'"/>
</div>
