@import 'base-variables';

:host {
  display: block;
  margin-top: -$margin-large;
  min-height: 300px;

  .radar-tabs {
    &__content {
      border-radius: $border-radius-medium;
      box-shadow: $shadow-up-small;
      margin-top: -10px;
      padding: $padding-large;
    }

    &__header {
      display: flex;

      .radar-tabs__tab {
        cursor: pointer;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding-bottom: 10px;

        &.active {
          background-color: $grey-dark;
          border-radius: $border-radius-medium $border-radius-medium 0 0;
          box-shadow: $shadow-up-small;
          position: relative;

          &::after {
            background-color: $grey-dark;
            bottom: -12px;
            content: "";
            height: 22px;
            position: absolute;
            width: 110%;
          }
        }
      }

      :first-child {
        &::after {
          left: 0;
        }
      }

      :last-child {
        &::after {
          right: 0;
        }
      }
    }
  }
}
