@use 'sass:color';

@import 'base-variables';

.modal {
  background-color: $grey-dark;
  border: none;
  border-radius: $border-radius-large;
  box-shadow: $shadow-up-small;
  color: $white-light;
  overflow: visible;
  padding: 0;
  // TODO: create responsive width for Modal
  width: 450px;

  .modal__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
  }

  .modal__body {
    padding: $padding-large;
  }
}
