@use 'sass:color';

@import 'base-variables';

.modal {
  background-color: $grey-dark;
  border: none;
  border-radius: $border-radius-large;
  box-shadow: $shadow-up-small;
  color: $white-light;
  // TODO: create responsive width for Modal
  width: 500px;
  padding: 0;

  .modal__header {
    align-items: center;
    box-shadow: 0 2px 8px black;
    display: flex;
    justify-content: center;
    padding: 15px 35px  ;

    .modal__close {
      border-radius: $border-radius-small;
      box-shadow: $shadow-up-small;
      cursor: pointer;
      margin-left: auto;
      padding: 20px 24px;

      &:hover {
        background-color: color.scale($grey-dark, $lightness: 4%);
        box-shadow: $shadow-up-medium;
      }
    }
  }

  .modal__body {
    padding: 15px;
  }
}
