:host {
  display: inline;

  .blip-vote {
    &__options {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    &__selection {
      display: block;
      height: 32px;
      margin: 14px 12px;
    }
  }
}
