<form [formGroup]="blipForm">
  <radar-input [control]="nameControl" [label]="'Blip name'" [readonly]="!edit"/>
  <radar-textarea [control]="descriptionControl" [label]="'Description'" [readonly]="!edit"/>
  <radar-input [control]="quadrantControl" [label]="'Quadrant'" [readonly]="!edit"/>
  <radar-select [control]="ringControl" [label]="'Radar position'" [options]="rings" [readonly]="!edit"/>
  <radar-input [control]="linkControl" [label]="'Resource Url'" [readonly]="!edit"/>
</form>
<div class="blip-details-form__footer">
  @if (edit) {
    @if (blip.id) {
      <radar-button label="Cancel" (clicked)="cancelEdit()" [type]="'primary'"/>
    }
    <radar-button label="Save" (clicked)="submitForm()" [type]="'secondary'"/>
  } @else {
    <radar-button label="Vote" (clicked)="startVote()" [type]="'primary'"/>
    <radar-button label="Edit" (clicked)="editForm()" [type]="'primary'"/>
  }
</div>
