@import 'base-variables';

:host {
  border: none;
  border-radius: $border-radius-large;
  box-shadow: $shadow-up-small;
  display: flex;
  align-items: center;
  margin: 12px;
  padding: 16px 48px;

  .notification__icon {
    margin-right: 24px;
  }
}
