<radar-header [title]="headerTitle"/>
@if (loadingStatus() === 'loading') {
  <radar-spinner/>
} @else if (loadingStatus() === 'error') {
  <radar-notification [message]="'Something went wrong when retrieving the Radar Details. Please try again later'"/>
}
<div class="radar-details">
  <div class="radar-details__map">
    <radar-map [radar]="radar()" (openBlipDetails)="openBlipDetailsModal($event)"/>
    @if (radar()?.description) {
      <p class="radar-details__description">{{radar()?.description}}</p>
    }
    @if (votingSessionBlipId()) {
      <div class="voting-session-message">
        <span>A Voting Sesssion is currently active. Click to join the session:</span>
        <radar-button label="Join Session" (clicked)="openBlipVotesModal()"/>
      </div>
    }
  </div>
  @for (quadrant of radar()?.quadrants; track $index) {
    <div class="radar-details__panel">
      <radar-blip-list [quadrant]="quadrant"
                       (openBlipDetails)="openBlipDetailsModal($event.blip, $event.edit)"
      />
    </div>
  }
</div>
