@import 'base-variables';

:host {
  .panel {
    background-color: #282828;
    border-radius: $border-radius-small;
    box-shadow: 4px 4px 26px black;
    margin: $margin-small;
    width: 35%;
    height: 85%;
    padding: $padding-large;
  }

  .quadrants {
    display: flex;
    flex-wrap: wrap;
    height: 90vh;

    .quadrant {
      flex: 45%;

      &:nth-child(even) {
        text-align: right;
        justify-items: end;
      }
    }
  }

  .map {
    left: 20%;
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 60vh;

    @media (min-width: $screen-width-s) {
      // TODO
    }

    @media (min-width: $screen-width-m) {
      // TODO
    }

    @media (min-width: $screen-width-l) {
      // TODO
    }

    @media (min-width: $screen-width-xl) {
      // TODO
    }
  }
}
