<radar-header [title]="headerTitle"/>
@if (loading) {
  <radar-spinner/>
} @else if (error) {
  <radar-notification [message]="error"/>
}
<div class="radar-details">
  <div class="map panel">
    <radar-map [radar]="radar" (openBlipDetails)="openBlipDetailsModal($event)"/>
  </div>
  @for (quadrant of radar?.quadrants; track $index) {
    <div class="panel">
      <radar-blip-list [quadrant]="quadrant"
                       [blips]="getBlipsByQuadrant(quadrant)"
                       (openBlipDetails)="openBlipDetailsModal($event)"
      />
    </div>
  }
</div>
