@import 'base-variables';

:host {
  .radar-details {
    display: grid;
    grid-gap: $margin-medium;
    grid-template-rows: 50% 50%;
    grid-template-columns: 2fr 1fr 1fr;
    height: 80vh;

    &__description {
      text-align: center;
    }

    &__map {
      grid-row: 1 / span 2;
      display: flex;
      flex-direction: column;
    }

    &__panel {
      background-color: $grey-dark;
      border-radius: 18px;
      box-shadow: 4px 4px 26px black, inset 2px 2px #4c4e50;
    }

    .voting-session-message {
      align-items: center;
      border-radius: $border-radius-small;
      box-shadow: $shadow-up-small;
      display: flex;
      justify-content: space-between;
      padding: $padding-small $padding-medium;
    }
  }
}
