<radar-header [title]="headerTitle"/>
@if (status() === 'loading') {
  <radar-spinner/>
} @else if (status() === 'error') {
  <radar-notification [message]="'Something went wrong when retrieving the Radar Details. Please try again later'"/>
}
<div class="radar-details">
  <div class="map">
    <radar-map [radar]="radar()" (openBlipDetails)="openBlipDetailsModal($event)"/>
  </div>
  @for (quadrant of radar()?.quadrants; track $index) {
    <div class="panel">
      <radar-blip-list [quadrant]="quadrant"
                       (openBlipDetails)="openBlipDetailsModal($event.blip, $event.edit)"
      />
    </div>
  }
</div>
