@import 'base-variables';

:host {
  .radar-details {
    display: grid;
    grid-gap: $margin-medium;
    grid-template: 1fr 1fr / 2fr 1fr 1fr;

    .map {
      grid-row: 1 / span 2;
    }

    .panel {
      background-color: $grey-dark;
      box-shadow: 4px 4px 26px black, inset 2px 2px #4c4e50;
    }
  }
}
