@import 'base-variables';

body {
  background-color: $grey-dark;
  color: $white-light;
  font-family: $font-family-main;
  margin: 0 4%;

  @media (min-width: $screen-width-s) {
    margin: 0 6%;
  }

  @media (min-width: $screen-width-m) {
    margin: 0 8%;
  }

  @media (min-width: $screen-width-l) {
    margin: 0 10%;
  }

  @media (min-width: $screen-width-xl) {
    max-width: 1440px;
    margin: 0 auto;
  }

  ::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-main;
  }

  label {
    font-weight: 600;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $white-light;
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
  }
}
