@import 'base-variables';

body {
  background-color: $grey-dark;
  color: $white-light;
  font-family: $font-family-main;
  margin: 0 2%;

  ::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-main;
  }

  label {
    font-weight: 600;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $white-light;
    background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
  }
}
